
$cwRed: #dc002e;
$cwGrey: #eceef2;
$grey: #ccc;
$greyText: #6c757d;
$white: #fff;
$black: #1d1d1d;

#wrapper {
  &.admin {
    .navbar {
      border-bottom: 1px solid $cwGrey;
      padding: .5rem 0;

      .navbar-brand {
        display: inline-block;

        &:hover {
          span {
            color: $cwRed;
          }
        }        
        img {
          width: 50%;
          margin-right: .5rem;
        }
        span {
          vertical-align: sub;
        }
      }
      .navbar-nav {
        li {
          button {
            background-color: transparent;
            border: 0 none;
            color: $cwRed;
            cursor: pointer;
            outline: none;
          }

          &:hover {
            .hover-nav {
              display: block;
            }  
          }

          .hover-nav {
            display: none;
            cursor: pointer;
            position: absolute;
            left: 50%;
            top: 40px;
            transform: translateX(-50%);
            padding: .5rem;
            border: 1px solid $cwGrey;
            border-radius: .4rem;
            background-color: #fff;
            z-index: 5;

            &:after, &:before {
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            &:after {
              top: -16px;
              border-left: 16px solid transparent;
              border-right: 16px solid transparent;
              border-bottom: 16px solid $cwGrey;
            }
            &:before {
              top: -14px;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 15px solid $white;
              z-index: 1;
            }

            li {
              list-style: none;

              a {
                white-space: nowrap;

                i {
                  margin-right: .5rem;
                }
              }
            }
          }
        }
      }
    }
    .list-group {
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
          display:none;
         
          &:checked + .slider {
            background-color: $cwRed;
          }
          &:focus + .slider {
            box-shadow: 0 0 1px $cwRed; //
          }
          &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $grey;
          -webkit-transition: .4s;
          transition: .4s;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          &.round {
            border-radius: 34px;

            &:before {
              border-radius: 50%;
            }
          }
        }
      }
    }
    .no-orders {
      height: calc(100vh - 200px)
    }
    form {
      .input-group {
        .input-group-append {
          .input-group-text {
            button {
              border: 0;
              background-color: transparent;
              outline: none;

              &:hover {
                color: $cwRed;
              }
            }
          }
        }
      }
    }
    .table {
      caption {
        span {
          color: $black;
          padding: .25rem;
          margin: 0 .25rem;
        }
      }
      tr {
        td, th {
          vertical-align: middle;

          select {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .pagination-container {
      label {
        color: $greyText;
      }
      select {
        width: auto;
      }
    }
  }
}