#wrapper.admin {
  height: 100vh;
  background-color: #343a40;
}

#wrapper.admin caption, #wrapper.admin h1, #wrapper.admin h2, #wrapper.admin h3, #wrapper.admin h4, #wrapper.admin h5, #wrapper.admin h6, #wrapper.admin p, #wrapper.admin td, #wrapper.admin th, #wrapper.admin span, #wrapper.admin label, #wrapper.admin li {
  color: #cfd2da;
}

#wrapper.admin a {
  color: #dc002e;
}

#wrapper.admin a:hover {
  color: #cfd2da;
}

#wrapper.admin .modal h5, #wrapper.admin .modal p {
  color: #1d1d1d;
}

#wrapper.admin .navbar {
  background-color: #6c757d;
  padding: .5rem 0;
}

#wrapper.admin .navbar .navbar-brand {
  display: inline-block;
}

#wrapper.admin .navbar .navbar-brand:hover span {
  color: #dc002e;
}

#wrapper.admin .navbar .navbar-brand img {
  width: 50%;
  margin-right: .5rem;
}

#wrapper.admin .navbar .navbar-brand span {
  vertical-align: sub;
}

#wrapper.admin .navbar .navbar-nav li button {
  background-color: transparent;
  border: 0 none;
  color: #dc002e;
  cursor: pointer;
  outline: none;
}

#wrapper.admin .navbar .navbar-nav li:hover .hover-nav {
  display: block;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  padding: .5rem;
  border: 1px solid #eceef2;
  border-radius: .4rem;
  background-color: #fff;
  z-index: 5;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav:after, #wrapper.admin .navbar .navbar-nav li .hover-nav:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
}

#wrapper.admin .navbar .navbar-nav li .hover-nav:after {
  top: -16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #eceef2;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav:before {
  top: -14px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  z-index: 1;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav li {
  list-style: none;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav li a {
  white-space: nowrap;
}

#wrapper.admin .navbar .navbar-nav li .hover-nav li a i {
  margin-right: .5rem;
}

#wrapper.admin .nav-tabs {
  border-bottom: 1px solid #dc002e;
}

#wrapper.admin .nav-tabs .nav-link.active {
  color: #dc002e;
  background-color: #fff;
  border-color: #dc002e;
}

#wrapper.admin .nav-tabs .nav-link:hover {
  color: #cfd2da;
  background-color: #6c757d;
  border-color: transparent transparent #dc002e;
}

#wrapper.admin .list-group .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#wrapper.admin .list-group .switch input {
  display: none;
}

#wrapper.admin .list-group .switch input:checked + .slider {
  background-color: #dc002e;
}

#wrapper.admin .list-group .switch input:focus + .slider {
  box-shadow: 0 0 1px #dc002e;
}

#wrapper.admin .list-group .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#wrapper.admin .list-group .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#wrapper.admin .list-group .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#wrapper.admin .list-group .switch .slider.round {
  border-radius: 34px;
}

#wrapper.admin .list-group .switch .slider.round:before {
  border-radius: 50%;
}

#wrapper.admin .no-orders {
  height: calc(100vh - 200px);
}

#wrapper.admin form .input-group .input-group-append .input-group-text button {
  border: 0;
  background-color: transparent;
  outline: none;
}

#wrapper.admin form .input-group .input-group-append .input-group-text button:hover {
  color: #dc002e;
}

#wrapper.admin .tab-content {
  height: calc(100vh - 140px);
  border-left: 1px solid #dc002e;
  border-right: 1px solid #dc002e;
}

#wrapper.admin .tab-content h3 button {
  background-color: transparent;
  border: 0;
  color: #6c757d;
}

#wrapper.admin .tab-content .table caption span {
  color: #1d1d1d;
  padding: .25rem;
  margin: 0 .25rem;
}

#wrapper.admin .tab-content .table thead {
  background-color: #dc002e;
}

#wrapper.admin .tab-content .table tbody tr.bg-warning td {
  color: #fff;
}

#wrapper.admin .tab-content .table tr td, #wrapper.admin .tab-content .table tr th {
  vertical-align: middle;
  border: 0 none !important;
}

#wrapper.admin .tab-content .table tr td select, #wrapper.admin .tab-content .table tr th select {
  background-color: rgba(255, 255, 255, 0.5);
}

#wrapper.admin .tab-content .table tr td button.message, #wrapper.admin .tab-content .table tr th button.message {
  background-color: transparent;
  border: 0;
  outline: none;
}

#wrapper.admin .tab-content .table tr td button.message:hover, #wrapper.admin .tab-content .table tr th button.message:hover {
  cursor: pointer;
}

#wrapper.admin .tab-content .table tr td img, #wrapper.admin .tab-content .table tr th img {
  max-width: 96px;
}

#wrapper.admin .tab-content .react-calendar {
  background-color: #fff;
}

#wrapper.admin .tab-content .react-calendar div {
  text-align: center;
}

#wrapper.admin .tab-content .react-calendar button {
  background-color: #fff;
  border: 0;
  padding: .5rem;
}

#wrapper.admin .tab-content .react-calendar button.react-calendar__navigation__arrow {
  padding-left: 1rem;
  padding-right: 1rem;
}

#wrapper.admin .tab-content .react-calendar button[disabled] {
  background-color: #eceef2;
}

#wrapper.admin .tab-content .react-calendar button[disabled]:hover {
  background-color: #eceef2;
  color: #808080;
}

#wrapper.admin .tab-content .react-calendar button:hover {
  background-color: rgba(220, 0, 46, 0.5);
  color: #fff;
}

#wrapper.admin .pagination-container select {
  width: auto;
}

#wrapper.admin .middle-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*# sourceMappingURL=admin-style.css.map */