@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.12/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('./admin-style.css');


//variables
$carwellness-red:rgb(220,0,46);

* { font-family: 'Source Sans Pro', sans-serif; }

#wrapper {
  .navbar{
    padding-top:0;
    padding-bottom:0;
    background-color:white;
    .nav-link{
      font-size:16px;
      font-weight:bold;
      color:rgb(120, 124, 135);
      cursor:pointer;
      padding: 30px 10px;
      &:hover{
        color:$carwellness-red;
      }
    }
    .online-order{
      background-color:$carwellness-red;
      color:white;
      &:hover{
        background-color:$carwellness-red!important;
        color:white!important;
      }
    }
  }
  .carousel-inner{
    img{
      width:100%;
      height:100%;
    }
  }
  .main-carousel{
    top:84px;
    position:relative;
    padding:0;
  }
  .services{
    top:84px;
    position:relative;
    text-align:center;
    padding-left:30px;
    padding-right:30px;
    h3{
      font-size:38px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-top:80px;
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
    .services-carousel{
      margin-top:50px;
      position:relative;
      padding:0;
      .carousel-inner .carousel-item.active,
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        display: flex;
      }
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(25%);
      }
      .carousel-inner .carousel-item-left.active, 
      .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
      }
      .carousel-inner .carousel-item-right,
      .carousel-inner .carousel-item-left{ 
        transform: translateX(0);
      }
      img{
        width:auto;
      }
      .carousel-item{
        background-color:white !important;
        margin-left:0;
      }
      h4{
        font-size:22px;
        font-weight:bold;
        color:black;
        margin-top:20px;
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
      }
      .col-lg-3{
        cursor:pointer;
        &:hover{
          h4{
          color:$carwellness-red;
          }
        }
      }
    }
    .carousel-control-prev{
      width:unset;
      left:-15px;
      opacity:.65;
     }
    .carousel-control-next{
      width:unset;
      right:-15px;
      opacity:.65;
    }
    .carousel-control-prev-icon{
      width:24px;
      height:24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon{
      width:24px;
      height:24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }

  .aboutus{
    position:relative;
    top:150px;
    padding:0;
    display:flex;
    overflow-x:hidden;
    .container{
      z-index:1001;
    }
    .col-lg-6{
      img{
        width:calc(100% + 70px);
        left: -70px;
        position: relative;
      }
      h3{
        font-size:34px;
        color:rgb(60,65,71);
        font-weight:bold;
        margin-top:80px;
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
      }
    }
    strong{
      color:$carwellness-red;
    }
    .rightpanel{
      width:100vw;
      background-color:rgb(236,238,242);
      height:100%;
      position:absolute;
      z-index: 1000;
      margin-left:500px;
    }
    button{
      padding: 15px 30px;
      background-color:$carwellness-red;
      border:none;
      color:white;
      outline:none;
      cursor:pointer;
      margin-top: 15px;
      &:hover{
        background-color:#ae0024;
      }
    }
  }
  .gallery{
    position:relative;
    top:120px;
    margin-bottom: 80px;
    h3{
      font-size:34px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-top:80px;
      text-align:center;
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
      text-align:center;
      margin-bottom:3em;
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight:bold;
      margin-top:10px;
      margin-left: 15px;
    }
    img{
      transition: transform .2s;
      cursor:pointer;
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  .footer{
    position:relative;
    top:100px;
    background-color:rgb(236,238,242);
    .container{
      padding-bottom:80px;
      padding-top:80px;
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight: bold;
    }
    .divider{
      width:100px;
      height: 4px;
      background-color:$carwellness-red;
      margin-bottom:20px;
    }
    strong{
      color:$carwellness-red;
    }
    h6{
      font-weight:600;
      font-size:18px;
    }
    p{
      font-size:18px;
      color:rgb(120,124,135);
      margin-bottom:0.4rem;
    }
    .highlight{
      color:$carwellness-red;
      text-decoration:underline;
    }
    .padding-left-30{
      padding-left:30px;
    }
    .strongblack{
      font-weight:bold;
      color:black !important;
    }
    button{
      padding: 15px 30px;
      background-color:$carwellness-red;
      border:none;
      color:white;
      outline:none;
      cursor:pointer;
      margin-top: 15px;
      &:hover{
        background-color:#ae0024;
      }
    }
  }
.serviceshead{
    position:relative;
    top:84px;
    float:right;
    padding:0;
    display:flex;
    align-items:center;
    .headpicture{
      width:100%;
    }
    .headContainer{
      position:absolute;
      color:white;
      margin-left:50%;
      transform:translateX(-50%);
    }
    h3{
      font-size:54px;
      font-weight:bold;
      margin:0;
    }
  }
  .serviceContent{
    position:relative;
    top:160px;
    text-align:center;
    h4{
      font-size:38px;
      font-weight:bold;
      strong{
        color:$carwellness-red;
      }
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
  }
  .rowservice{
    position:relative;
    top:160px;
    margin-top:100px;
    .col-lg-6{
      img{
        width:100%;
      }
      h4{
        font-size:34px;
        color:rgb(60,65,71);
        font-weight:bold;
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
      }
      button{
        padding: 15px 30px;
        background-color:$carwellness-red;
        border:none;
        color:white;
        outline:none;
        cursor:pointer;
        margin-top: 15px;
        &:hover{
          background-color:#ae0024;
        }
      }
    }
  }
}

