@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("./admin-style.css");
* {
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 991px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .hide-desktop {
    display: none;
  }
}

#wrapper .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

#wrapper .navbar .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #787c87;
  cursor: pointer;
  padding: 30px 10px;
}

#wrapper .navbar .nav-link:hover {
  color: #dc002e;
}

#wrapper .navbar .nav-link.active {
  color: #dc002e !important;
}

#wrapper .navbar .online-order {
  background-color: #dc002e;
  color: white;
}

#wrapper .navbar .online-order:hover {
  background-color: #dc002e !important;
  color: white !important;
}

@media screen and (max-width: 991px) {
  #wrapper .navbar .navbar-collapse .navbar-nav {
    height: 100vh;
  }
}

#wrapper .carousel-inner img {
  width: 100%;
  height: 100%;
}

#wrapper .main-carousel {
  top: 84px;
  position: relative;
  padding: 0;
}

#wrapper .services {
  top: 84px;
  position: relative;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#wrapper .services h3 {
  font-size: 38px;
  color: #3c4147;
  font-weight: bold;
  margin-top: 80px;
}

#wrapper .services p {
  font-size: 16px;
  color: #787c87;
}

#wrapper .services .services-carousel {
  margin-top: 50px;
  position: relative;
  padding: 0;
}

#wrapper .services .services-carousel .carousel-inner .carousel-item.active,
#wrapper .services .services-carousel .carousel-inner .carousel-item-next,
#wrapper .services .services-carousel .carousel-inner .carousel-item-prev {
  display: flex;
}

#wrapper .services .services-carousel .carousel-inner .carousel-item-right.active,
#wrapper .services .services-carousel .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

#wrapper .services .services-carousel .carousel-inner .carousel-item-left.active,
#wrapper .services .services-carousel .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}

#wrapper .services .services-carousel .carousel-inner .carousel-item-right,
#wrapper .services .services-carousel .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

#wrapper .services .services-carousel img {
  width: auto;
}

#wrapper .services .services-carousel .carousel-item {
  background-color: white !important;
  margin-left: 0;
}

#wrapper .services .services-carousel h4 {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

#wrapper .services .services-carousel p {
  font-size: 16px;
  color: #787c87;
}

#wrapper .services .services-carousel .col-lg-3 {
  cursor: pointer;
}

#wrapper .services .services-carousel .col-lg-3:hover h4 {
  color: #dc002e;
}

#wrapper .services .carousel-control-prev {
  width: unset;
  left: -15px;
  opacity: .65;
}

#wrapper .services .carousel-control-next {
  width: unset;
  right: -15px;
  opacity: .65;
}

#wrapper .services .carousel-control-prev-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#wrapper .services .carousel-control-next-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#wrapper .aboutus {
  position: relative;
  top: 150px;
  padding: 0;
  display: flex;
  overflow-x: hidden;
}

#wrapper .aboutus .container {
  z-index: 1001;
}

@media screen and (max-width: 991px) {
  #wrapper .aboutus .col-lg-6 {
    text-align: center;
  }
}

#wrapper .aboutus .col-lg-6 img {
  width: calc(100% + 70px);
  left: -70px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  #wrapper .aboutus .col-lg-6 img {
    width: 100%;
    left: 0;
  }
}

#wrapper .aboutus .col-lg-6 h3 {
  font-size: 34px;
  color: #3c4147;
  font-weight: bold;
  margin-top: 80px;
}

@media screen and (max-width: 1280px) {
  #wrapper .aboutus .col-lg-6 h3 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1200px) {
  #wrapper .aboutus .col-lg-6 h3 {
    margin-top: 16px;
    font-size: 28px;
  }
}

#wrapper .aboutus .col-lg-6 p {
  font-size: 16px;
  color: #787c87;
}

@media screen and (max-width: 1200px) {
  #wrapper .aboutus .col-lg-6 p {
    font-size: 14px;
  }
}

#wrapper .aboutus strong {
  color: #dc002e;
}

#wrapper .aboutus .rightpanel {
  width: 100vw;
  background-color: #eceef2;
  height: 100%;
  position: absolute;
  z-index: 1000;
  margin-left: 500px;
}

@media screen and (max-width: 1200px) {
  #wrapper .aboutus .rightpanel {
    margin-left: 400px;
  }
}

#wrapper .aboutus button {
  padding: 15px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}

#wrapper .aboutus button:hover {
  background-color: #ae0024;
}

#wrapper .gallery {
  position: relative;
  top: 120px;
  margin-bottom: 80px;
}

#wrapper .gallery h3 {
  font-size: 34px;
  color: #3c4147;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}

#wrapper .gallery p {
  font-size: 16px;
  color: #787c87;
  text-align: center;
  margin-bottom: 3em;
}

#wrapper .gallery h4 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #wrapper .gallery h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 32px;
  }
}

#wrapper .gallery img {
  transition: transform .2s;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#wrapper .gallery img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
  #wrapper .gallery img {
    width: 100%;
  }
}

#wrapper .footer {
  position: relative;
  top: 100px;
  background-color: #eceef2;
}

#wrapper .footer .container {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  #wrapper .footer .container {
    text-align: center;
  }
}

#wrapper .footer h4 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #wrapper .footer h4 {
    margin-top: 30px;
  }
}

#wrapper .footer .divider {
  width: 100px;
  height: 4px;
  background-color: #dc002e;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  #wrapper .footer .divider {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

#wrapper .footer strong {
  color: #dc002e;
}

#wrapper .footer h6 {
  font-weight: 600;
  font-size: 18px;
}

#wrapper .footer p {
  font-size: 18px;
  color: #787c87;
  margin-bottom: 0.4rem;
}

#wrapper .footer .highlight {
  color: #dc002e;
  text-decoration: underline;
}

#wrapper .footer .padding-left-30 {
  padding-left: 30px;
}

#wrapper .footer .strongblack {
  font-weight: bold;
  color: black !important;
}

#wrapper .footer button {
  padding: 15px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}

#wrapper .footer button:hover {
  background-color: #ae0024;
}

#wrapper .serviceshead {
  position: relative;
  top: 84px;
  float: right;
  padding: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  #wrapper .serviceshead img {
    height: 250px;
  }
}

#wrapper .serviceshead .headpicture {
  width: 100%;
}

#wrapper .serviceshead .headContainer {
  position: absolute;
  color: white;
  margin-left: 50%;
  transform: translateX(-50%);
}

#wrapper .serviceshead h3 {
  font-size: 54px;
  font-weight: bold;
  margin: 0;
}

#wrapper .serviceContent {
  position: relative;
  top: 160px;
  text-align: center;
}

#wrapper .serviceContent h4 {
  font-size: 38px;
  font-weight: bold;
}

#wrapper .serviceContent h4 strong {
  color: #dc002e;
}

#wrapper .serviceContent p {
  font-size: 16px;
  color: #787c87;
}

#wrapper .rowservice {
  position: relative;
  top: 160px;
  margin-top: 100px;
}

@media screen and (max-width: 991px) {
  #wrapper .rowservice .col-lg-6 {
    text-align: center;
  }
}

#wrapper .rowservice .col-lg-6 img {
  width: 100%;
}

#wrapper .rowservice .col-lg-6 h4 {
  font-size: 34px;
  color: #3c4147;
  font-weight: bold;
}

#wrapper .rowservice .col-lg-6 p {
  font-size: 16px;
  color: #787c87;
}

@media screen and (max-width: 991px) {
  #wrapper .rowservice .col-lg-6 p {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #wrapper .rowservice .col-lg-6 p {
    font-size: 13px;
  }
}

#wrapper .rowservice .col-lg-6 a {
  padding: 15px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
  text-decoration: none;
}

#wrapper .rowservice .col-lg-6 a:hover {
  background-color: #ae0024;
}

@media screen and (max-width: 991px) {
  #wrapper .rowservice .col-lg-6 a {
    position: relative;
  }
}

#wrapper .price-listContent {
  position: relative;
  top: 160px;
  text-align: center;
}

#wrapper .price-listContent h4 {
  font-size: 38px;
  font-weight: bold;
}

#wrapper .price-listContent h4 strong {
  color: #dc002e;
}

#wrapper .price-listContent p {
  font-size: 16px;
  color: #787c87;
}

#wrapper .price-added-services {
  position: relative;
  top: 240px;
  text-align: center;
}

#wrapper .price-added-services h4 {
  font-size: 38px;
  font-weight: bold;
}

#wrapper .price-added-services h4 strong {
  color: #dc002e;
}

#wrapper .price-added-services p {
  font-size: 16px;
  color: #787c87;
}

#wrapper .price-list-price {
  position: relative;
  top: 200px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #wrapper .price-list-price .card-deck {
    flex-direction: column;
  }
}

#wrapper .price-list-price .card-deck .card-body {
  padding: 0;
  background-color: #e1e3e8;
}

#wrapper .price-list-price .card-deck .card-body-header {
  background-color: #3c4147;
  padding: 24px;
}

#wrapper .price-list-price .card-deck .card-body-header h4 {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

#wrapper .price-list-price .card-deck .card-body-header h5 {
  font-size: 16px;
  color: #787c87;
}

#wrapper .price-list-price .card-deck .card-body-header h5 strong {
  color: white;
}

#wrapper .price-list-price .card-deck .card-body-body {
  padding-bottom: 140px;
}

@media screen and (max-width: 991px) {
  #wrapper .price-list-price .card-deck .card-body-body {
    padding-bottom: 200px;
  }
}

#wrapper .price-list-price .card-deck .card-body-body .light-grey {
  background-color: #f2f3f6;
}

#wrapper .price-list-price .card-deck .card-body-body .dark-grey {
  background-color: #e1e3e8;
}

#wrapper .price-list-price .card-deck .card-body-body p {
  font-size: 14px;
  color: #3c4147;
  font-weight: bold;
  padding: 6px 20px;
  margin: 0;
}

#wrapper .price-list-price .card-deck .card-body-body .price {
  font-size: 34px;
  color: #787c87;
  font-weight: bold;
  position: absolute;
  bottom: 64px;
  width: 100%;
}

#wrapper .price-list-price .card-deck .card-body-body a {
  background-color: #dc002e;
  font-size: 16px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#wrapper .price-list-price .card-deck .card-body-body a:hover {
  background-color: #ae0024;
}

#wrapper .top-240 {
  top: 240px;
}

#wrapper .top-260 {
  top: 260px;
}

#wrapper .added-services {
  top: 300px;
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .row {
    display: inline-flex;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .col-lg-6 {
    padding: 0;
  }
}

#wrapper .added-services h5 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  padding: 20px 40px;
  background-color: #f2f3f6;
  text-align: left;
  margin-bottom: 30px;
}

#wrapper .added-services p {
  font-size: 14px;
  color: #3c4147;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 4px 40px;
  padding-right: 0;
}

@media screen and (max-width: 1200px) {
  #wrapper .added-services p {
    padding-left: 0;
  }
}

#wrapper .added-services p strong {
  text-align: right;
  color: black;
}

#wrapper .added-services .col-sm-9 {
  padding-right: 0;
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .col-sm-9 {
    width: 70%;
  }
}

#wrapper .added-services .col-sm-3 {
  padding: 0;
  padding-right: 15px;
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .col-sm-3 {
    width: 30%;
  }
}

#wrapper .added-services .col-sm-3 p {
  text-align: right;
}

#wrapper .added-services .col-sm-11 {
  padding-right: 0;
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .col-sm-11 {
    width: 90%;
  }
}

#wrapper .added-services .col-sm-1 {
  padding-left: 0;
}

@media screen and (max-width: 576px) {
  #wrapper .added-services .col-sm-1 {
    width: 10%;
  }
}

#wrapper .added-services .col-sm-1 p {
  text-align: right;
  padding-left: 0;
}

#wrapper .contact {
  position: relative;
  top: 240px;
}

@media screen and (max-width: 991px) {
  #wrapper .contact {
    top: 140px;
  }
}

#wrapper .contact h4 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
  #wrapper .contact h4 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  #wrapper .contact .col-md-6 {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #wrapper .contact .col-lg-6 h4 {
    text-align: center;
  }
}

#wrapper .contact .divider {
  width: 100px;
  height: 4px;
  background-color: #dc002e;
  margin-bottom: 20px;
}

#wrapper .contact strong {
  color: #dc002e;
}

#wrapper .contact h6 {
  font-weight: 600;
  font-size: 18px;
}

#wrapper .contact p {
  font-size: 18px;
  color: #787c87;
  margin-bottom: 1px;
}

#wrapper .contact .highlight {
  color: #dc002e;
  text-decoration: underline;
}

#wrapper .contact .padding-left-30 {
  padding-left: 30px;
}

#wrapper .contact .strongblack {
  font-weight: bold;
  color: black !important;
}

#wrapper .contact button {
  padding: 15px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  width: 100%;
}

#wrapper .contact button:hover {
  background-color: #ae0024;
}

#wrapper .contact .padding-left-100 {
  padding-left: 100px;
}

@media screen and (max-width: 991px) {
  #wrapper .contact .padding-left-100 {
    padding-left: 15px;
  }
}

#wrapper .contact form label {
  font-size: 18px;
  color: #787c87;
  font-weight: bold;
}

#wrapper .contact form input {
  font-size: 16px;
  color: #787c87;
}

#wrapper .contact form textarea {
  font-size: 16px;
  color: #787c87;
}

#wrapper .contact form .form-control {
  padding: 10px 26px;
  border: 2px solid #b8b9c0;
  box-shadow: none !important;
}

#wrapper .mapcontainer {
  position: relative;
  top: 300px;
}

#wrapper .mapcontainer .map {
  height: 360px;
}

#wrapper .mapcontainer h4 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}

#wrapper .mapcontainer strong {
  color: #dc002e;
}

#wrapper .footerContactSection {
  top: 320px;
}

#wrapper .orderwrapper .orderContainer {
  position: relative;
  top: 240px;
  border-top: 6px solid #dc002e;
  padding-top: 15px;
  padding: 0;
  background-color: #eceef2;
}

#wrapper .orderwrapper .orderContainer h4 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 50px;
  width: 100%;
}

#wrapper .orderwrapper .orderContainer .orderChooseCity {
  padding-left: 40px;
  padding-right: 40px;
}

#wrapper .orderwrapper .orderContainer .orderChooseCity button {
  padding: 15px 30px;
  background-color: #e1e3e8;
  border: none;
  color: #787c87;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 15px;
  border: solid 2px #c6cad2;
  font-size: 18px;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderChooseCity button:hover {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

#wrapper .orderwrapper .orderContainer .orderChooseCity .choosed {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

#wrapper .orderwrapper .orderContainer .orderChooseCarType {
  padding-left: 40px;
  padding-right: 40px;
}

#wrapper .orderwrapper .orderContainer .orderChooseCarType button {
  padding: 15px 30px;
  background-color: #e1e3e8;
  border: none;
  color: #787c87;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 15px;
  border: solid 2px #c6cad2;
  font-size: 18px;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderChooseCarType button:hover {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

#wrapper .orderwrapper .orderContainer .orderChooseCarType .choosed {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram {
  padding-left: 40px;
  padding-right: 40px;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram h5 {
  color: #787c87;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram h6 {
  color: #787c87;
  font-size: 16px;
  padding-bottom: 80px;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram p {
  font-size: 34px;
  color: #787c87;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram .col-md-3 {
  text-align: center;
  background-color: #e1e3e8;
  border: solid 2px #c6cad2;
  margin-bottom: 2%;
  cursor: pointer;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram .choosed {
  background-color: #dc002e;
  border: solid 2px #dc002e;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram .choosed h5 {
  color: white;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram .choosed h6 {
  color: white;
}

#wrapper .orderwrapper .orderContainer .orderChooseProgram .choosed p {
  color: white;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate {
  padding-left: 40px;
  padding-right: 40px;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate #dateContainer {
  pointer-events: none;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate .alert {
  margin-left: 20px;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate .alert p {
  padding-top: 10px;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate .form-group {
  display: flex;
  width: 260px;
  height: 56px;
  background-color: #e1e3e8;
  border: solid 2px #c6cad2;
  align-items: center;
  margin-left: 20px;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate .form-group input {
  background-color: transparent;
  border: none;
  outline: none;
  left: 20px;
  position: relative;
  color: #787c87;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderChooseDate button {
  width: 260px;
  height: 56px;
  background-color: #00af43;
  border: solid 2px #00af43;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  outline: none;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo {
  padding-left: 40px;
  padding-right: 40px;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .col-lg-6 {
  margin-top: 50px;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .col-lg-6 h4 {
  padding-left: 0;
  margin-top: 0;
  width: 100%;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .col-lg-6 p {
  width: 100%;
  font-size: 16px;
  color: #787c87;
  font-weight: bold;
  margin-bottom: 0;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .col-lg-6 h5 {
  width: 100%;
  font-size: 20px;
  color: #3c4147;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo form label {
  font-size: 18px;
  color: #787c87;
  font-weight: bold;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo form input {
  font-size: 16px;
  color: #787c87;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo form textarea {
  font-size: 16px;
  color: #787c87;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo form .form-control {
  padding: 10px 26px;
  border: 2px solid #b8b9c0;
  box-shadow: none !important;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .padding-left-30 {
  padding-left: 30px;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo span {
  font-size: 18px;
  color: #3c4147;
  font-weight: bold;
  padding: 4px 0px;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo span.price {
  color: #dc002e;
  margin-right: 30px;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo span button {
  margin-left: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 35px;
  cursor: pointer;
}

#wrapper .orderwrapper .orderContainer .orderMoreInfo .margin-top-20 {
  margin-top: 20px;
}

#wrapper .orderwrapper .unlisted {
  border: solid 2px #dc002e !important;
  color: #dc002e !important;
}

#wrapper .orderwrapper .unlisted:hover {
  color: white !important;
}

#wrapper .orderwrapper .form-group .unlisted:hover {
  color: grey !important;
}

#wrapper .orderwrapper .gallery {
  top: 260px;
}

#wrapper .orderwrapper .footer {
  top: 260px;
}

#wrapper .claimContainer {
  position: relative;
  top: 260px;
}

@media screen and (max-width: 991px) {
  #wrapper .claimContainer {
    top: 200px;
  }
}

@media screen and (max-width: 991px) {
  #wrapper .claimContainer .col-lg-6 {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  #wrapper .claimContainer .md-center {
    text-align: center;
  }
}

#wrapper .claimContainer h5 {
  font-size: 22px;
  color: #3c4147;
  font-weight: bold;
  margin-bottom: 20px;
}

#wrapper .claimContainer h6 {
  font-size: 18px;
  color: #787c87;
  font-weight: bold;
}

#wrapper .claimContainer p {
  font-size: 16px;
  color: #787c87;
  margin-bottom: 20px;
}

#wrapper .claimContainer h6 {
  font-size: 18px;
  font-weight: bold;
}

#wrapper .claimContainer .highlight {
  color: #dc002e;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  #wrapper .claimContainer .highlight {
    margin-bottom: 50px;
  }
}

#wrapper .claimContainer button {
  padding: 15px 30px;
  background-color: #e1e3e8;
  border: none;
  color: #787c87;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  border: solid 2px #c6cad2;
  font-size: 18px;
  font-weight: bold;
}

#wrapper .claimContainer button:hover {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

@media screen and (max-width: 576px) {
  #wrapper .claimContainer button {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

#wrapper .claimContainer .choosed {
  background-color: #dc002e;
  color: white;
  border: solid 2px #dc002e;
}

#wrapper .claimContainer form label {
  font-size: 18px;
  color: #787c87;
  font-weight: bold;
}

#wrapper .claimContainer form input {
  font-size: 16px;
  color: #787c87;
}

#wrapper .claimContainer form textarea {
  font-size: 16px;
  color: #787c87;
}

#wrapper .claimContainer form .form-control {
  padding: 10px 26px;
  border: 2px solid #b8b9c0;
  box-shadow: none !important;
}

#wrapper .claimContainer form #file {
  border: none;
}

#wrapper .claimContainer form button {
  padding: 15px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  width: 100%;
}

#wrapper .claimContainer form button:hover {
  background-color: #ae0024;
  border: none;
}

#wrapper .orderCancelInfo {
  position: relative;
  top: 260px;
}

#wrapper .orderCancelInfo p {
  font-size: 16px;
  color: #787c87;
  text-align: center;
}

#wrapper .galleryContent {
  position: relative;
  top: 160px;
}

#wrapper .galleryContent h4 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#wrapper .galleryContent strong {
  color: #dc002e;
}

#wrapper .galleryContent img.zoom {
  width: 250px;
  height: 200px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

@media screen and (max-width: 576px) {
  #wrapper .galleryContent img.zoom {
    margin: 0 auto;
    display: block;
  }
}

#wrapper .galleryContent img.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

#wrapper .galleryContent .thumb {
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  #wrapper .galleryContent .thumb {
    max-width: unset;
    flex: none;
  }
}

#wrapper .galleryContent .page-top {
  margin-top: 150px;
}

#wrapper .m-t-60 {
  margin-top: 60px;
}

.ui-timepicker-list li:hover {
  background-color: #dc002e !important;
  color: white !important;
}

.ui-datepicker-header {
  background-color: #dc002e !important;
  color: white !important;
}

.ui-state-highlight {
  background-color: #dc002e !important;
  color: white !important;
}

.ui-state-active {
  background-color: #dc002e !important;
  border: solid 1px #dc002e;
  color: white !important;
}

.ui-state-default:hover {
  background-color: #dc002e !important;
  border: solid 1px #dc002e;
  color: white !important;
}

.orderButton {
  padding: 22px 30px;
  background-color: #dc002e;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
  font-size: 22px;
  font-weight: bold;
}

.orderButton:hover {
  background-color: #ae0024;
}
/*# sourceMappingURL=main-style.css.map */