@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.12/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('./admin-style.css');



//variables
$carwellness-red:rgb(220,0,46);
$card-background:rgb(60,65,71);
$break-extralarge:1280px;
$break-large:1200px;
$break-medium:991px;
$break-mediumsmall:767px;
$break-small:576px;

* { font-family: 'Source Sans Pro', sans-serif; }
.hide-mobile{
  @media screen and (max-width: $break-medium){
    display:none;
  }
}
.hide-desktop{
  @media screen and (min-width: $break-medium){
    display:none;
  }
}




#wrapper {
  .navbar{
    padding-top:0;
    padding-bottom:0;
    background-color:white;
    .nav-link{
      font-size:16px;
      font-weight:bold;
      color:rgb(120, 124, 135);
      cursor:pointer;
      padding: 30px 10px;
      &:hover{
        color:$carwellness-red;
      }
      &.active{
        color:$carwellness-red !important;
      }
    }
    .online-order{
      background-color:$carwellness-red;
      color:white;
      &:hover{
        background-color:$carwellness-red!important;
        color:white!important;
      }
    }
  }
  .carousel-inner{
    img{
      width:100%;
      height:100%;
    }
  }
  .main-carousel{
    top:84px;
    position:relative;
    padding:0;
  }
  .services{
    top:84px;
    position:relative;
    text-align:center;
    padding-left:30px;
    padding-right:30px;
    h3{
      font-size:38px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-top:80px;
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
    .services-carousel{
      margin-top:50px;
      position:relative;
      padding:0;
      .carousel-inner .carousel-item.active,
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        display: flex;
      }
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(25%);
      }
      .carousel-inner .carousel-item-left.active, 
      .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
      }
      .carousel-inner .carousel-item-right,
      .carousel-inner .carousel-item-left{ 
        transform: translateX(0);
      }
      img{
        width:auto;
      }
      .carousel-item{
        background-color:white !important;
        margin-left:0;
      }
      h4{
        font-size:22px;
        font-weight:bold;
        color:black;
        margin-top:20px;
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
      }
      .col-lg-3{
        cursor:pointer;
        &:hover{
          h4{
          color:$carwellness-red;
          }
        }
      }
    }
    .carousel-control-prev{
      width:unset;
      left:-15px;
      opacity:.65;
     }
    .carousel-control-next{
      width:unset;
      right:-15px;
      opacity:.65;
    }
    .carousel-control-prev-icon{
      width:24px;
      height:24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon{
      width:24px;
      height:24px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }

  .aboutus{
    position:relative;
    top:150px;
    padding:0;
    display:flex;
    overflow-x:hidden;
    .container{
      z-index:1001;
    }
    .col-lg-6{
      @media screen and (max-width: $break-medium){
        text-align:center;
      }
      img{
        width:calc(100% + 70px);
        left: -70px;
        position: relative;
        @media screen and (max-width: $break-extralarge){
          width:100%;
          left:0;
        }
      }
      h3{
        font-size:34px;
        color:rgb(60,65,71);
        font-weight:bold;
        margin-top:80px;
        @media screen and (max-width: $break-extralarge){
          margin-top:60px;
        }
        @media screen and (max-width: $break-large){
          margin-top:16px;
          font-size:28px;
        }
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
        @media screen and (max-width: $break-large){
          font-size:14px;
        }
      }
    }
    strong{
      color:$carwellness-red;
    }
    .rightpanel{
      width:100vw;
      background-color:rgb(236,238,242);
      height:100%;
      position:absolute;
      z-index: 1000;
      margin-left:500px;
      @media screen and (max-width: $break-large){
          margin-left:400px;
      }
    }
    button{
      padding: 15px 30px;
      background-color:$carwellness-red;
      border:none;
      color:white;
      outline:none;
      cursor:pointer;
      margin-top: 15px;
      &:hover{
        background-color:#ae0024;
      }
    }
  }
  .gallery{
    position:relative;
    top:120px;
    margin-bottom: 80px;
    h3{
      font-size:34px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-top:80px;
      text-align:center;
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
      text-align:center;
      margin-bottom:3em;
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight:bold;
      margin-top:10px;
      text-align:center;
      @media screen and (max-width: $break-medium){
          margin-top:15px;
          margin-bottom:15px;
          text-align:center;
          font-size:32px;
      }
    }
    img{
      transition: transform .2s;
      cursor:pointer;
      display:block;
      margin:0 auto;
      &:hover{
        transform: scale(1.05);
      }
      @media screen and (max-width: $break-large){
          width:100%;
      }
    }
  }
  .footer{
    position:relative;
    top:100px;
    background-color:rgb(236,238,242);
    .container{
      padding-bottom:80px;
      padding-top:80px;
      @media screen and (max-width: $break-mediumsmall){
        text-align:center;
      }
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight: bold;
      @media screen and (max-width: $break-mediumsmall){
        margin-top:30px;
      }
    }
    .divider{
      width:100px;
      height: 4px;
      background-color:$carwellness-red;
      margin-bottom:20px;
      @media screen and (max-width: $break-mediumsmall){
        margin:0 auto;
        margin-bottom:20px;
      }
    }
    strong{
      color:$carwellness-red;
    }
    h6{
      font-weight:600;
      font-size:18px;
    }
    p{
      font-size:18px;
      color:rgb(120,124,135);
      margin-bottom:0.4rem;
    }
    .highlight{
      color:$carwellness-red;
      text-decoration:underline;
    }
    .padding-left-30{
      padding-left:30px;
    }
    .strongblack{
      font-weight:bold;
      color:black !important;
    }
    button{
      padding: 15px 30px;
      background-color:$carwellness-red;
      border:none;
      color:white;
      outline:none;
      cursor:pointer;
      margin-top: 15px;
      &:hover{
        background-color:#ae0024;
      }
    }
  }
.serviceshead{
    position:relative;
    top:84px;
    float:right;
    padding:0;
    display:flex;
    align-items:center;
    img{
      @media screen and (max-width: $break-extralarge){
        height:250px;
      }
    }
    .headpicture{
      width:100%;
    }
    .headContainer{
      position:absolute;
      color:white;
      margin-left:50%;
      transform:translateX(-50%);
    }
    h3{
      font-size:54px;
      font-weight:bold;
      margin:0;
    }
  }
  .serviceContent{
    position:relative;
    top:160px;
    text-align:center;
    h4{
      font-size:38px;
      font-weight:bold;
      strong{
        color:$carwellness-red;
      }
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
  }
  .rowservice{
    position:relative;
    top:160px;
    margin-top:100px;
    .col-lg-6{
      @media screen and (max-width: $break-medium){
        text-align:center;
      }
      img{
        width:100%;
      }
      h4{
        font-size:34px;
        color:rgb(60,65,71);
        font-weight:bold;
      }
      p{
        font-size:16px;
        color:rgb(120,124,135);
        @media screen and (max-width: $break-medium){
          padding-bottom:20px;
        }
        @media screen and (max-width: $break-large){
          font-size:13px;
        }
      }
      a{
        padding: 15px 30px;
        background-color:$carwellness-red;
        border:none;
        color:white;
        outline:none;
        cursor:pointer;
        margin-top: 15px;
        position:absolute;
        bottom:0;
        text-decoration:none;
        &:hover{
          background-color:#ae0024;
        }
        @media screen and (max-width: $break-medium){
        position:relative;
        }
      }
    }
  }
  .price-listContent{
    position:relative;
    top:160px;
    text-align:center;
    h4{
      font-size:38px;
      font-weight:bold;
      strong{
        color:$carwellness-red;
      }
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
  }
  .price-added-services{
    position:relative;
    top:240px;
    text-align:center;
    h4{
      font-size:38px;
      font-weight:bold;
      strong{
        color:$carwellness-red;
      }
    }
    p{
      font-size:16px;
      color:rgb(120,124,135);
    }
  }
  .price-list-price{
    position:relative;
    top:200px;
    text-align:center;
    .card-deck{
      @media screen and (max-width: $break-medium){
        flex-direction:column;
      }
      .card-body{
        padding:0;
        background-color:rgb(225,227,232);
      }
      .card-body-header{
        background-color:$card-background;
        padding:24px;
          h4{
            font-size:22px;
            color:white;
            font-weight:bold;
          }
          h5{
            font-size:16px;
            color:rgb(120,124,135);
            strong{
              color:white;
            }
          } 
      }
      .card-body-body{
        padding-bottom:140px;
        @media screen and (max-width: $break-medium){
          padding-bottom:200px;
        }
        .light-grey{
          background-color:rgb(242,243,246);
        }
        .dark-grey{
          background-color:rgb(225,227,232);
        }
        p{
          font-size:14px;
          color:rgb(60,65,71);
          font-weight:bold;
          padding:6px 20px;
          margin:0;
        }
        .price{
          font-size:34px;
          color:rgb(120,124,135);
          font-weight:bold;
          position:absolute;
          bottom:64px;
          width:100%;
        }
        button{
          background-color:$carwellness-red;
          font-size:16px;
          color:white;
          font-weight:bold;
          position:absolute;
          bottom:0;
          width:100%;
          left:0;
          padding:20px;
          outline:none;
          border:none;
          cursor:pointer;
          &:hover{
            background-color:#ae0024;
          }
        }
      } 
    }
  }
  .top-240{
    top:240px;
  }
  .top-260{
    top:260px;
  }
  .added-services{
    top:300px;
    .row{
      @media screen and (max-width: $break-small){
          display:inline-flex;
          width:100%;
      }
    }
    .col-lg-6{
      @media screen and (max-width: $break-small){
        padding:0;
      }
    }
    h5{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight:bold;
      padding: 20px 40px;
      background-color: #f2f3f6;
      text-align:left;
      margin-bottom: 30px;
    }
    p{
      font-size:14px;
      color: rgb(60,65,71);
      font-weight:bold;
      text-align: left;
      margin: 0;
      padding: 4px 40px;
      padding-right:0;
      @media screen and (max-width: $break-large){
          padding-left:0;
      }
      strong{
        text-align:right;
        color:black;
      }
    }
    .col-sm-9{
      padding-right:0;
      @media screen and (max-width: $break-small){
        width:70%;
      }
    }
    .col-sm-3{
      padding:0;
      padding-right:15px;
      @media screen and (max-width: $break-small){
        width:30%;
      }
      p{
        text-align:right;
      }
    }
    .col-sm-11{
      padding-right:0;
      @media screen and (max-width: $break-small){
        width:90%;
      }
    }  
    .col-sm-1{
      padding-left:0;
      @media screen and (max-width: $break-small){
        width:10%;
      }
      p{
        text-align:right;
        padding-left:0;
      }
    }
  }
  .contact{
    position:relative;
    top:240px;
    @media screen and (max-width: $break-medium){
      top:140px;
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-bottom:32px;
      @media screen and (max-width: $break-medium){
        margin-top:60px;
      }
    }
    .col-md-6{
      @media screen and (max-width: $break-medium){
        text-align:center;
      }
    }
    .col-lg-6{
      h4{
        @media screen and (max-width: $break-medium){
          text-align:center;
        }
      }
    }
    .divider{
      width:100px;
      height: 4px;
      background-color:$carwellness-red;
      margin-bottom:20px;
    }
    strong{
      color:$carwellness-red;
    }
    h6{
      font-weight:600;
      font-size:18px;
    }
    p{
      font-size:18px;
      color:rgb(120,124,135);
      margin-bottom: 1px;
    }
    .highlight{
      color:$carwellness-red;
      text-decoration:underline;
    }
    .padding-left-30{
      padding-left:30px;
    }
    .strongblack{
      font-weight:bold;
      color:black !important;
    }
    button{
      padding: 15px 30px;
      background-color:$carwellness-red;
      border:none;
      color:white;
      outline:none;
      cursor:pointer;
      margin-top: 0px;
      &:hover{
        background-color:#ae0024;
      }
      width:100%;
    }
    .padding-left-100{
      padding-left:100px;
      @media screen and (max-width: $break-medium){
        padding-left:15px;
      }
    }
    form{
      label{
        font-size:18px;
        color: rgb(120, 124, 135);
        font-weight: bold;
      }
      input{
        font-size:16px;
        color: rgb(120, 124, 135);
      }
      textarea{
        font-size:16px;
        color: rgb(120, 124, 135);
      }
      .form-control{
        padding:10px 26px;
        border:2px solid #b8b9c0;
        box-shadow:none !important;
      }
    }
  }
  .mapcontainer{
    position:relative;
    top:300px;
    .map{
      height:360px;
    }
    h4{
      font-size:22px;
      color:rgb(60,65,71);
      font-weight: bold;
      margin-bottom:32px;
      text-align:center;
    }
    strong{
      color:$carwellness-red;
    }
  }
  .footerContactSection{
    top:320px;
  }
  .orderwrapper{
    .orderContainer{
      position:relative;
      top:240px;
      border-top:6px solid $carwellness-red;
      padding-top: 15px;
      padding:0;
      background-color:#eceef2;
      h4{
        font-size: 22px;
        color: rgb(60, 65, 71);
        font-weight:bold;
        padding-left:15px;
        margin-bottom: 15px;
        margin-top: 50px;
      }
      .orderChooseCity{
        padding-left:40px;
        padding-right: 40px;
        button{
          padding: 15px 30px;
          background-color:#e1e3e8;
          border:none;
          color:#787c87;
          outline:none;
          cursor:pointer;
          margin-top: 0px;
          margin-right: 15px;
          border:solid 2px #c6cad2;
          font-size: 18px;
          font-weight: bold;
          &:hover{
            background-color:#dc002e;
            color:white;
            border:solid 2px #dc002e;
          }
        }
        .choosed{
          background-color:$carwellness-red;
          color:white;
          border:solid 2px #dc002e;
        }
      }
      .orderChooseCarType{
        padding-left:40px;
        padding-right: 40px;
        button{
          padding: 15px 30px;
          background-color:#e1e3e8;
          border:none;
          color:#787c87;
          outline:none;
          cursor:pointer;
          margin-top: 0px;
          margin-right: 15px;
          border:solid 2px #c6cad2;
          font-size: 18px;
          font-weight: bold;
          &:hover{
            background-color:#dc002e;
            color:white;
            border:solid 2px #dc002e;
          }
        }
        .choosed{
          background-color:$carwellness-red;
          color:white;
          border:solid 2px #dc002e;
        }
      }
      .orderChooseProgram{
        padding-left:40px;
        padding-right: 40px;
        h5{
          color: rgb(120, 124, 135);
          font-weight:bold;
          font-size:18px;
          padding-top:20px;
        }
        h6{
          color: rgb(120, 124, 135);
          font-size:16px;
          padding-bottom:80px;
        }
        p{
          font-size:34px;
          color: rgb(120, 124, 135);
          font-weight:bold;
        }
        .col-md-3{
          text-align:center;
          background-color:#e1e3e8;
          border:solid 2px #c6cad2;
          margin-bottom:2%;
          &:hover{
            background-color:#dc002e;
            border:none;
            h5{
              color:white;
            }
            h6{
              color:white;
            }
            p{
              color:white;
            }
          }
        }
        .choosed{
          background-color:#dc002e;
          border:none;
          h5{
              color:white;
          }
          h6{
            color:white;
          }
          p{
            color:white;
          }
        }   
      }
      .orderChooseDate{
        padding-left:40px;
        padding-right: 40px;
        .form-group{
          display:flex;
          width: 260px;
          height: 56px;
          background-color:#e1e3e8;
          border:solid 2px #c6cad2;
          align-items:center;
          margin-left: 20px;
          svg{
          }
          input{
            background-color:transparent;
            border:none;
            outline:none;
            left: 20px;
            position: relative;
            color: rgb(120, 124, 135);
            font-weight: bold;
          }
        }
        button{
          width: 260px;
          height: 56px;
          background-color:#00af43;
          border:solid 2px #00af43;
          margin-left: 20px;
          color:white;
          cursor:pointer;
          outline:none;
        }   
      }
      .orderMoreInfo{
        padding-left:40px;
        padding-right: 40px;
        .col-lg-6{
          margin-top:50px;
          h4{
          padding-left:0;
          margin-top:0;
          width:100%;
        }
        p{
          width:100%;
          font-size:16px;
          color: rgb(120, 124, 135);
          font-weight: bold;
          margin-bottom:0;
        }
        h5{
          width:100%;
          font-size: 20px;
          color: rgb(60, 65, 71);
          font-weight:bold;
        }
        }
        form{
          label{
            font-size:18px;
            color: rgb(120, 124, 135);
            font-weight: bold;
          }
          input{
            font-size:16px;
            color: rgb(120, 124, 135);
          }
          textarea{
            font-size:16px;
            color: rgb(120, 124, 135);
          }
          .form-control{
            padding:10px 26px;
            border:2px solid #b8b9c0;
            box-shadow:none !important;
          }
        }
        .padding-left-30{
          padding-left:30px;
        }
        span{
          font-size:18px;
          color: rgb(60, 65, 71);
          font-weight: bold;
          padding: 4px 0px;
          &.price{
            color:$carwellness-red;
            margin-right:30px;
          }
          button{
            margin-left:20px;
            outline: none;
            border: none;
            background-color: transparent;
            width: 35px;
            cursor: pointer;
          }
        }
        .margin-top-20{
          margin-top:20px;
        }
      }
    }
    .gallery{
      top:260px;
    }
    .footer{
      top:260px;
    }
  }
  .claimContainer{
    position:relative;
    top:260px;
    @media screen and (max-width: $break-medium){
      top:200px;
    }
    .col-lg-6{
      @media screen and (max-width: $break-medium){
        text-align:left;
      }
    }
    .md-center{
      @media screen and (max-width: $break-medium){
        text-align:center;
      }
    }
    h5{
      font-size:22px;
      color: rgb(60, 65, 71);
      font-weight: bold;
      margin-bottom: 20px;
    }
    h6{
      font-size:18px;
      color: rgb(120, 124, 135);
      font-weight: bold;
    }
    p{
      font-size:16px;
      color: rgb(120, 124, 135);
      margin-bottom: 20px;
    }
    h6{
      font-size:18px;
      font-weight:bold;
    }
    .highlight{
      color:$carwellness-red;
      text-decoration:underline;
      @media screen and (max-width: $break-medium){
        margin-bottom:50px;
      }
    }
    button{
      padding: 15px 30px;
      background-color:#e1e3e8;
      border:none;
      color:#787c87;
      outline:none;
      cursor:pointer;
      margin-top: 10px;
      margin-bottom:10px;
      margin-right: 15px;
      border:solid 2px #c6cad2;
      font-size: 18px;
      font-weight: bold;
      &:hover{
        background-color:#dc002e;
        color:white;
        border:solid 2px #dc002e;
      }
      @media screen and (max-width: $break-small){
        width:50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    .choosed{
      background-color:#dc002e;
      color:white;
      border:solid 2px #dc002e;
    }
    form{
      label{
        font-size:18px;
        color: rgb(120, 124, 135);
        font-weight: bold;
      }
      input{
        font-size:16px;
        color: rgb(120, 124, 135);
      }
      textarea{
        font-size:16px;
        color: rgb(120, 124, 135);
      }
      .form-control{
        padding:10px 26px;
        border:2px solid #b8b9c0;
        box-shadow:none !important;
      }
      #file{
        border:none;
      }
      button{
        padding: 15px 30px;
        background-color:$carwellness-red;
        border:none;
        color:white;
        outline:none;
        cursor:pointer;
        margin-top: 0px;
        &:hover{
          background-color:#ae0024;
          border:none;
        }
        width:100%;
      }
    }
  }
  .orderCancelInfo{
    position:relative;
    top:260px;
    p{
      font-size: 16px;
      color: rgb(120, 124, 135);
      text-align:center;
    }
  }
  .galleryContent{
    position: relative;
    top: 160px;
    h4{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    strong{
      color:$carwellness-red;
    }
    img{
      &.zoom{
         width: 250px;
         height: 200px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        @media screen and (max-width: $break-small){
          margin:0 auto;
          display:block;
        }
      }
      &.transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      }
    }
    .thumb{
      margin-bottom: 20px;
      @media screen and (max-width: $break-small){
        max-width:unset;
        flex:none;
      }
    }
        
    .page-top{
      margin-top:150px;
    }
  }
  .m-t-60{
    margin-top:60px;
  }
}
.ui-timepicker-list{
  li{
    &:hover{
    background-color:#dc002e !important;
    color:white !important;
    }
  }
}
.ui-datepicker-header{
  background-color:#dc002e !important;
  color:white !important;
}
.ui-state-highlight{
  background-color:#dc002e !important;
  color:white !important;
}
.ui-state-active{
  background-color:#dc002e !important;
  border:solid 1px #dc002e;
  color:white !important;
}
.ui-state-default{
  &:hover{
    background-color:#dc002e !important;
    border:solid 1px #dc002e;
    color:white !important;
  }
}
.orderButton{
  padding: 22px 30px;
  background-color:$carwellness-red;
  border:none;
  color:white;
  outline:none;
  cursor:pointer;
  margin-top: 40px;
  font-size:22px;
  font-weight:bold;
  &:hover{
    background-color:#ae0024;
  }
}


